@font-face {
    font-family: 'Bugrino';
    src: url('font/Bugrino-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bugrino';
    src: url('font/Bugrino-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: bold;

}


body {
    font-family: 'Bugrino';
    font-weight: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Header background */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 1000; /* Ensures it stays on top of other content */
}

.content {
    margin-top: 80px; /* Adjust this to match the header height */
}

body.dark-mode {
    background-color: #333;
    color: #ffffff;
}

.column-20.dark-mode,
.column-80.dark-mode,
.header.dark-mode {
    background-color: #333;
}

body.dark-mode .grid-item2 {
    outline: 1px solid white; /* Change outline to white in dark mode */
}

.button-container {
    display: flex;
    background-color: transparent !important; /* Force transparency in all cases */
    justify-content: space-between; /* This evenly spaces button1 to the left and buttons 2-4 to the right */
    
    width: 100%; /* Ensure the container spans the full width */
}

[class^="button"] {
    gap: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: #767676;
    color: #ffffff;
    transition: background-color 0.3s ease, border-radius 0.3s ease, font-weight 0.3s ease;
    border-radius: 5px;
    font-family: 'Bugrino';
    font-weight: normal;
    text-transform: uppercase;
}

[class^="button"] a {
    color: inherit; /* Inherit the button’s text color */
    text-decoration: none; /* Remove underline */

}

[class^="button"]:hover {
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
    /* JavaScript will handle the background color change */
}

.button5 {
    flex: 0 0 20%;
    margin-left: -15px;
    margin-right: auto; /* Pushes button2-4 to the right */
}

.button1, .button2, .button3 {
    margin-left: 0;
    margin-right: 0;
}

.button4 {
    flex: 0 0 0;
    margin-right: 15px;
}

.container {
    display: flex;
}

.column-20 {
    width: 20%;
    border: solid green 0px;
    padding: 10px;
}

.column-80 {
    width: 80%;
    border: solid green 0px;
    padding: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 20px;
}

.grid-item {
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: lightgray 1px solid;
    transition: border-radius 0.3s ease;
}

.grid-item:hover {
    border-radius: 15px;
}

.grid-item2 {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease, border-radius 0.3s ease,font-weight 0.3s ease;
}

.grid-item2:hover {
    border-radius: 15px;
    font-weight: bold;
}

.grid-item2 .category {
    transition: color 0.3s ease; /* Smooth transition for the text color */
}

.grid-item img {
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}
