
@font-face{
    font-family: 'zocalo';
    src: 
     url('/assets/Zocalo/ZocaloText-Regular-Trial.otf') format("opentype");
}

@font-face{
    font-family: 'zocalo';
    src: 
     url('/assets/Zocalo/ZocaloText-Bold-Trial.otf') format("opentype");
     font-weight: 700;
}

strong{
    color: hotpink;
}

div {
display:block;
border: 2px solid rgb(172, 255, 47);
margin: 3%;
padding: 5%;
border-radius: 30px;
}

h1{
font-size: 40px;
color:rgb(172, 255, 47);
text-align: center;
border: 0px solid rgb(172, 255, 47);
}

h2{
    font-size: 20px;
    color:rgb(172, 255, 47);
    text-align: center;
    border: 0px solid rgb(172, 255, 47);
    }

#div1 {
    display:block;
    background-color:rgba(172, 255, 47, 0.548);
    color: rgb(39, 39, 39);
    border-radius: 30px;
}

body{
    background: rgb(39, 39, 39); 
}

a:hover {
    background: linear-gradient(to right, #0aff0e, 
    #3a68ff, #ff9dff, #ee4444); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}


.keyword {
    color: greenyellow;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 1px;
    font-size: 15px
  }

a.keyword:hover{
    font-size: 15px;
    background:hotpink;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

.index {
    font-size: 60px;
    font-family: Helvetica;
    background: linear-gradient(to right, #4f0aff, 
                #ff6b08, #cf23cf, #eedd44); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 

}

.header {

  font-size: 10 px;
  font-family: Helvetica;
    color: grey;

}

.text {
    color: whitesmoke;
    font-size: 20px;
    font-family:'zocalo';
}

.readmore {
  font-size: 20px;
  font-family: 'zocalo';
  font-weight: bold;
  background: linear-gradient(to right, #4f0aff, 
              #ff6b08, #cf23cf, #eedd44); 
      -webkit-text-fill-color: transparent; 
      -webkit-background-clip: text; 
}
